/*Characters*/
#nh {
	background-image: url(images/bg/nh.png);
}

#gd {
	background-image: url(images/bg/gd.png);
}

#pm {
	background-image: url(images/bg/pm.png);
}

#he {
	background-image: url(images/bg/he.png);
}

#ga {
	background-image: url(images/bg/ga.png);
}

#ba {
	background-image: url(images/bg/ba.png);
}

/*Header Images*/
#sun {
	background-image: url(images/sun.jpg);
}

#blimp {
	background-image: url(images/blimp.jpg);
}

#will {
	background-image: url(images/will.jpg);
}

#japan {
	background-image: url(images/japan.png);
}

#nihon {
	background-image: url(images/nh.jpg);
}

#cern {
	background-image: url(images/cern.png);
}