* {
	padding: 0;
	margin: 0;
	font-family: Roboto;
}

.wrapper {
	display: flex;
}

.selector {
	float: left;
	max-height: 100vh;
	max-width: 21;
	overflow-y: auto;
}

.tile {
	height: 300px;
	width: 300px;
	background-color: white;
	border-radius: 12px;
	margin-top: 5vw;
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 3vw;
	z-index: 2;
	padding: 20px;
	cursor: pointer;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar {
	display: none;
}

.wrapper {
	height: 100vh;
	width: 100vw;
	background-color: #414251;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}

div img {
	height: 40%;
	float:right;
	filter: invert(1);
	z-index: 1;
}

.tile div {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tile h1 {
	font-size: 6em;
}

.tile h2 {
	font-size: 3.5em;
}

.he {
	color: #22a2dc;
}
	

.ga {
	color: #7dc341;
}

.ba {
	color:orange;
}

.gd {
	color: yellow;
}

.pm {
	color: purple;
}

.sm {
	color: red;
}

.preview {
	float: right;
	width: 79vw;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
}

.content {
	margin-left: 3vw;
	margin-bottom: 3vw;
	font-size: 1.2em;
}

.name {
	width: 12%;
	height: 5%;
	background-color: white;
	padding: 10px 40px;
	border-radius: 12px 12px 0px 0px;
}

.name p {
	font-family: Kanit;
	font-size: 1.7em;
}

.box {
	width: 50%;
	height: 180px;
	display: flex;
}

.info {
	width: 90%;
	height: 40%;
	background-color: white;
	border-radius: 0 0 0 12px;
	padding: 40px;
}

.button {
	width: 20%;
	height: 62%;
	background-color: #22a2dc;
	color: white;
	font-size: 1.2em;
	padding: 20px;
	border-radius: 0 12px 12px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:flex-start;
	cursor: pointer;
	text-decoration: none;
}

.button img {
	filter: invert();
}

svg.bond {
	width: 120px;
	height: 120px;
	float: right;
}